---
const { class: className, children } = Astro.props;
---

<div class={`container ${className}`}>
  <slot />
</div>

<style>
  .container {
    width: 100%;
    max-width: 100%; /* Define o máximo de largura para 100% da tela */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    padding-left: 16px; /* Padding para o lado esquerdo */
    padding-right: 16px; /* Padding para o lado direito */
  }

  /* A partir de 640px */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  /* A partir de 768px */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  /* A partir de 1024px */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  /* A partir de 1280px */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  /* A partir de 1536px */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
